<div class="container">
  <div class="form-container">
    <form class="recon-form" [formGroup]="form" (ngSubmit)="onSubmit()">
     
      <section>
        <h3>Create Recon</h3>
        <span>User can create new Recons from here</span>
      </section>
       <!-- Section 1: Recon Name -->
      <section>
        <div class="form-row">
          <mat-form-field appearance="fill" class="recon-full-width custom-form-field">
            <mat-label>Recon Name</mat-label>
            <input matInput formControlName="reconName" />
            <mat-error *ngIf="reconName?.hasError('required')">
              Recon Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width custom-form-field">
            <mat-label>Frequency</mat-label>
            <mat-select formControlName="frequency">
              <mat-option
                *ngFor="let frequency of frequencies"
                [value]="frequency?.id"
              >
                {{ frequency?.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="frequency?.hasError('required')">
              Frequency is required
            </mat-error>
          </mat-form-field>
        </div>
      </section>
      <!-- Section 2: Source Table -->
      <section>
        <div class="table-header">
          <span>Source Table</span>
          <mat-icon class="info-icon">info</mat-icon>
        </div>
        
        <div class="form-row">
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Database</mat-label>
            <mat-select formControlName="sourcedb">
              <mat-option
                *ngFor="let db of sourceDatabase"
                [value]="db.id"
              >
                {{ db.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sourcedb?.hasError('required')">
              Database is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Schema</mat-label>
            <mat-select formControlName="sourceschema">
              <mat-option
                *ngFor="let schema of sourceSchema"
                [value]="schema.id"
              >
                {{ schema.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sourceschema?.hasError('required')">
              Schema is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Table</mat-label>
            <mat-select formControlName="sourcetable">
              <mat-option
                *ngFor="let tb of sourceTable"
                [value]="tb.id"
              >
                {{ tb.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sourcetable?.hasError('required')">
              Table is required
            </mat-error>
          </mat-form-field>
        </div>
      </section>
       <!-- Section 2: Target Table -->
        <section>
        <div class="table-header">
          <span>Targe Table</span>
          <mat-icon class="info-icon">info</mat-icon>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="recon-full-width custom-form-field">
            <mat-label>Database</mat-label>
            <mat-select formControlName="tragetdb">
              <mat-option
                *ngFor="let db of targetDatabase"
                [value]="db.id"
              >
                {{ db.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="targetdb?.hasError('required')">
              Database is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Schema</mat-label>
            <mat-select formControlName="targetschema">
              <mat-option
                *ngFor="let schema of targetSchema"
                [value]="schema.id"
              >
                {{ schema.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="targetschema?.hasError('required')">
              Schema is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Table</mat-label>
            <mat-select formControlName="targettable">
              <mat-option
                *ngFor="let target of targetTable"
                [value]="target.id"
              >
                {{ target.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="targettable?.hasError('required')">
              Table is required
            </mat-error>
          </mat-form-field>
        </div>
      </section>
      <!-- Section 2: Variance Table -->
      <section>
        <div class="table-header">
          <span>Variance Table</span>
          <mat-icon class="info-icon">info</mat-icon>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Database</mat-label>
            <mat-select formControlName="variancedb">
              <mat-option
                *ngFor="let db of varianceDatabase"
                [value]="db.id"
              >
                {{ db.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="variancedb?.hasError('required')">
              Database is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Schema</mat-label>
            <mat-select formControlName="varianceschema">
              <mat-option
                *ngFor="let schema of varianceSchema"
                [value]="schema.id"
              >
                {{ schema.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="varianceschema?.hasError('required')">
              Schema is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Table</mat-label>
            <mat-select formControlName="varianceable">
              <mat-option
                *ngFor="let table of varianceTable"
                [value]="table.id"
              >
                {{ table.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="variancetable?.hasError('required')">
              Table is required
            </mat-error>
          </mat-form-field>
        </div>
      </section>
       <!-- Section 2: Adjustment Table -->
       <section>
        <div class="table-header">
          <span>Adjustment Table</span>
          <mat-icon class="info-icon">info</mat-icon>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Database</mat-label>
            <mat-select formControlName="adjustmentdb">
              <mat-option
                *ngFor="let db of adjustmentDatabase"
                [value]="db.id"
              >
                {{ db.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="adjustmentdb?.hasError('required')">
              Database is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Schema</mat-label>
            <mat-select formControlName="adjustmentschema">
              <mat-option
                *ngFor="let schema of adjustmentSchema"
                [value]="schema.id"
              >
                {{ schema.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="adjustmentschema?.hasError('required')">
              Schema is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Table</mat-label>
            <mat-select formControlName="adjustmenttable">
              <mat-option
                *ngFor="let table of adjustmentTable"
                [value]="table.id"
              >
                {{ table.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="adjustmenttable?.hasError('required')">
              Table is required
            </mat-error>
          </mat-form-field>
        </div>
       </section>
      <!-- Section 4: filter -->
      <section>
        <div class="form-row">
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Source Filter</mat-label>
            <mat-select formControlName="sourcefilter">
              <mat-option
                *ngFor="let fil of targetFilter"
                [value]="fil.id"
              >
                {{ fil.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="recon-full-width">
            <mat-label>Traget Filter</mat-label>
            <mat-select formControlName="targetfilter">
              <mat-option
                *ngFor="let fil of sourceFilter"
                [value]="fil.id"
              >
                {{ fil.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
         
        </div>
      </section>
      <!-- Section 3: Buttons -->
      <section>
        <div class="form-button-row">
          <button mat-raised-button type="cancel">Cancel</button>
          <button mat-raised-button type="submit">Submit</button>
        </div>
      </section>
    </form>
  </div>
</div>
