.dialog-btn {
    display: flex;
    justify-content: flex-end;
}
.custom-red-button {
    background-color: #f44336; 
    color: white;
}

.custom-red-button:hover {
    background-color: #d32f2f;
  }