<div class="container">
  <div class="main-container">
    <div class="key-container">
        <div class="label">
            <span>Keys</span>&nbsp;<span style="color:red">*</span>
          </div>
      <app-keys></app-keys>
    </div>
    <div class="measure-container">
        <div class="label">
            <span>Measures</span>&nbsp;<span style="color:red">*</span>
          </div>
      <app-measure></app-measure>
    </div>
    <div class="key-measure-btn">
      <div class="footer-btn">
        <button mat-flat-button class="cancel-keymes-button">Cancel</button>
        <button mat-flat-button color="primary" class="save-keymes-button">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
