.custome-toolbar {
background: #fff;
color: #000;
font-size: 14px;
font-weight: 500;

}
/* breadcrumb.component.css */
.current-link {
    font-weight: bold;
    color: #2196f3; 
  }
  
  .previous-link {
    color: grey; 
  }