<!-- general-ledger-list.component.html -->

<div class="container">
  <!-- Header Section -->
  <div class="header">
    <!-- Search Input -->
    <div class="search-container">
      <input
        type="text"
        (input)="applyFilter($event)"
        placeholder="Search..."
        class="search-input"
      />
    </div>
    <!-- Create Recon Button -->
    <button
      mat-flat-button
      color="primary"
      class="create-button"
      (click)="createRecon()"
    >
      Create Recon
    </button>
  </div>

  <!-- Mat Table -->
  <div *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table" matSort >
      <!-- Columns -->
      <ng-container matColumnDef="reconId">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editRecon(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="reconName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Recon Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.reconName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
        <td mat-cell *matCellDef="let element">
          {{ element.source }}
        </td>
       
      </ng-container>
      <ng-container matColumnDef="target" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Target</th>
        <td mat-cell *matCellDef="let element">
          {{ element.target }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status }}
        </td>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdBy }}
        </td>
      </ng-container>
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdOn }}
        </td>
      </ng-container>
      <!-- Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- Display message if dataSource is empty -->
    <div *ngIf="dataSource.data.length == 0" class="no-data-message">
      No recon found
    </div>
<!-- Conditionally display paginator -->
<mat-paginator 
        [length]="dataSource.data.length"
        [pageSize]=ITEM_PER_PAGE
        [pageSizeOptions]="[5, 10, 20]"
        [disabled]="dataSource.data.length === 0"
        showFirstLastButtons
      ></mat-paginator>
   
  </div>
</div>
