
.container {
    margin: 20px;
}


.header {
    display: flex;
    justify-content: flex-end; /* Align items to the start and end of container */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px;
    gap:10px
  }
  
  .create-button {
    /* Optional: Add custom styles for the Create Recon button */
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    margin-right: 10px; /* Space between input and search button */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.mat-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
}

.mat-paginator {
    justify-content: center;
    margin-top: 10px;
} 

